# ==============================
# .NET
# ==============================
bin
obj
.vs/
*.user
*.suo
*.cache
*.log

# ==============================
# Node / Frontend
# ==============================
node_modules
dist
dist-ssr
*.local

# ==============================
# Environment files
# ==============================
.env
.env.*
appsettings.Development.json

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db