/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');

/*Variables*/

:root {
    --principal: #fff;
    --secondary: #000000;
    --backcolor1: rgba(0, 0, 0, 0.884);
    --font1: 'Montserrat', sans-serif;
    --font2: 'Holtwood One SC', serif;
}

/* Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: var(--principal);
    /* font-family: 'Holtwood One SC', serif; */
    font-family: var(--font1)
}

body { 
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    background-color: var(--principal); 
} 

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--principal);
}


/* Helpers */
.flexRow {
    display: flex;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}
.grid {
    display: grid;
}


img {
    width: 100%;
}

/*Navbar y Header*/

Header {
    background-color: var(--backcolor1);
}
header .navbar {
    min-height: 5vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 7%;
}

header .section {
    flex-basis: 30%;
    justify-content: space-between;
}

.section .sectionItem {
    font-size: 2em;
    font-weight: bold;
}

.section .sectionItem .sectionLink {
    
    padding: 1rem;
    color: var(--principal);
    transition: all .4s ease-in-out;
}

.section .sectionItem .sectionLink:hover {
    background-color: var(--principal);
    box-shadow: 0 0 10px var(--principal);
    color: var(--secondary);
}

.navbar .section .sectionItem .subMenu {
    display: none;
    position: absolute;
}

.navbar .section .sectionItem:hover .subMenu {
    display: block;
    z-index: 1;
}

.sectionItem .subMenu .subMenuLink {
    padding: 1rem;
    font-size: 1em;
    transition: all .4s ease-in-out;
}

.sectionItem .subMenu .subMenuLink:hover {
    background-color: var(--principal);
    box-shadow: 0 0 10px var(--principal);
    color: var(--secondary);
} 

/* Inicio */
main {
    background-color: #000000da;
}
.usPage {
    align-items: center;
    position: relative; 
    overflow: hidden;
    width: 100%;
    text-align: center;

}

.bgInicio {
    flex-basis: 80%;
}

.bgImg {
    width: 80vh;
    height: 80vh;
    opacity: 0.3;  
    display: block;
}

.homeCn {
    color: var(--secondary);
    width: 100%;
    align-items: center;
}

.homeCn h1 {
    font-size: 15em;    
    /* position: absolute; */
    top: 0; 
    /* left: 15vw;   */
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--principal);
    animation-name: efectocn;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    font-family: var(--font2);
    font-weight: lighter;
}

@keyframes efectocn {
    0% { 
        opacity: 0; 
    }
    10% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
    30% {
        opacity: 0.6;
    }
    40% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

/* FOOTER */

footer {
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: var(--backcolor1);
}

footer p {
    text-align: center;
    font-size: 2em;   
}

/* Productos */

.galleryProduct {
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-rows: 3;
}

.galleryProduct img {
    justify-content: space-between;
    max-width: 25vw;
    align-content: center;
}
