/*Navbar y Header*/

Header {
    background-color: $backcolor1;

    .navbar {
        min-height: 5vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

    }

    .logo {
        flex-basis: 7%;
    }

    .section {
        flex-basis: 30%;
        justify-content: space-between;

        &Item {
            font-size: 2em;
            font-weight: bold;

            .subMenu {
                display: none;
                position: absolute;

                &Link {

                    padding: 1rem;
                    color: $principal;
                    transition: all .4s ease-in-out;

                    &:hover {
                        background-color: $principal;
                        box-shadow: 0 0 10px $principal;
                        color: $secondary;
                    }
                }
            }



            &:hover {
                .subMenu {
                    display: block;
                    z-index: 1;
                }
            }



        }

        &Link {
            padding: 1rem;
            font-size: 1em;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: $principal;
                box-shadow: 0 0 10px $principal;
                color: $secondary;
            }
        }
    }
}